/* Services Split Layout */
.services-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
}

.services-content {
    flex: 2;
    /* Takes up 2/3 of space */
}

.services-image {
    flex: 1;
    /* Takes up 1/3 of space */
    position: sticky;
    top: 100px;
    /* Sticks as you scroll */
    text-align: center;
}

.services-image img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: var(--shadow-lg);
    border: 5px solid white;
}

@media screen and (max-width: 1024px) {
    .services-wrapper {
        flex-direction: column-reverse;
        /* Image on top or bottom? usually bottom on mobile if secondary, or top for intro. Let's do normal column so image is below text, or maybe hidden? User wants it "beside". On mobile, stack changes. */
        flex-direction: column;
        align-items: center;
    }

    .services-image {
        position: static;
        width: 80%;
        margin-top: 3rem;
    }
}